name: LuminaCode-Windows

on:
  workflow_dispatch:
  push:
    branches: [ master ]

env:
  APP_NAME: LuminaCode
  BINARY_NAME: luminacode
  OS_NAME: windows
  VSCODE_QUALITY: stable

jobs:
  build:
    runs-on: windows-2022
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Clone VSCode source
        run: ./get_repo.sh

      - name: Build Source
        env:
          SHOULD_BUILD_REH: 'no'
          SHOULD_BUILD_REH_WEB: 'no'
        run: ./build.sh

      - name: Package Windows x64
        env:
          npm_config_arch: x64
          npm_config_target_arch: x64
        run: ./build/windows/package.sh

      - name: Upload Windows Build
        uses: actions/upload-artifact@v4
        with:
          name: LuminaCode-Windows
          path: assets/
